fastapi==0.124.0
opencv-python==4.10.0.84
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
uvicorn==0.38.0
wrapt==1.15.0
python-multipart==0.0.20